#how-we-works {
  width: 100%;
  min-height: 90vh;
  background-color: white;
  box-sizing: border-box;
  margin: 10px 0px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
#how-we-works .heading {
  color: #fd7062;
  position: relative;
  height: 150px;
}

#how-we-works .heading p.main-heading {
  text-align: center;
  font-size: 50px;
  color: #1f425d;
  position: relative;
  top: -90px;
  font-weight: 500;
}

#how-we-works .heading p.main-heading span {
  color: #4ab9cf;
}

#how-we-works .heading .logo {
  color: white;
  font-size: 140px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 rgb(237, 237, 237), 1px -1px 0 rgb(237, 237, 237),
    -1px 1px 0 rgb(237, 237, 237), 1px 1px 0 rgb(237, 237, 237);
  text-align: center;
}

#how-we-works .card-container {
  width: calc(100% - 20px);
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
  margin: 25px 10px;
  /* border: 1px solid rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#how-we-works .card-container .card {
  width: 30%;
  /* border: 1px solid rgb(0, 0, 0); */
}

@media screen and (max-width: 768px) {
  #how-we-works .heading .logo {
    font-size: 70px;
  }

  #how-we-works .heading p.main-heading {
    font-size: 30px;
    top: -20px;
  }
}

@media screen and (max-width: 430px) {
  #how-we-works .heading .logo {
    font-size: 80px;
  }

  #how-we-works .heading p.main-heading {
    font-size: 30px;
    top: -20px;
  }

  #how-we-works .card-container {
    flex-direction: column;
  }

  #how-we-works .card-container .card {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}
