#how-we-works {
  width: 100%;
  min-height: 100vh;
  /* margin: 10px 0px; */
  box-sizing: border-box;
  background: url("../../../assests/HowWeWorks/How we Work Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#how-we-works .bg-cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding: 20px; */
  background-color: rgba(255, 255, 255, 0.8);
  color: #273296;
}

#how-we-works .bg-cover .main-heading {
  font-size: 50px;
  font-weight: 700;
}

#how-we-works .bg-cover .main-section {
  display: flex;
  justify-content: center;
  align-items: start;
}

#how-we-works .bg-cover .main-section .card {
  margin-top: 10px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  text-transform: uppercase;
  text-align: center;
}

#how-we-works .bg-cover .main-section .card .title {
  margin-top: 10px;
  min-height: 40px;
  font-size: 22px;
  font-weight: 800;
}
#how-we-works .bg-cover .main-section .card img {
  height: 170px;
  width: 170px;
}
#how-we-works .bg-cover .main-section .card .content {
  font-size: 10px;
  font-weight: bolder;
}

@media screen and (max-width: 600px) {
  #how-we-works .bg-cover .main-section {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  #how-we-works .bg-cover .main-section {
    flex-direction: row;
  }

  #how-we-works .bg-cover .main-section .card {
    width: 33%;
  }
}

@media screen and (min-width: 1445px) {
  #how-we-works .bg-cover .main-heading {
    font-size: 100px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  #how-we-works .bg-cover .main-section .card .title {
    min-height: 40px;
    font-size: 40px;
    margin: 10px;
  }

  #how-we-works .bg-cover .main-section .card .content {
    font-size: 25px;
  }

  #how-we-works .bg-cover .main-section {
    justify-content: space-between;
    gap: 100px;
  }
  #how-we-works .bg-cover .main-section .card img {
    height: 250px;
    width: 250px;
  }
}
