#features{
    width: 100%;
    min-height: 90vh;
    background-color: rgb(31, 66, 93);
    box-sizing: border-box;
    margin: 10px 0px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
#features .heading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #FD7062;
    position: relative;
    height: 150px;
}

#features .heading p.main-heading{
    text-align: center;
    font-size: 50px;
    color: white;
    position: relative;
    top: -50px;
    font-weight: 500;
}

#features .heading p.main-heading span{ 
    color: #4AB9CF;
}


#features .heading .logo{
    color: rgb(31, 66, 93);
    font-size: 140px;
    letter-spacing: 5px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 
        -1px -1px 0 rgb(44, 82, 110),
        1px -1px 0 rgb(44, 82, 110),  
        -1px 1px 0 rgb(44, 82, 110),
        1px 1px 0 rgb(44, 82, 110);
    text-align: center;
}

#features .card-container{
    width: calc(100% - 20px);
    box-sizing: border-box;
    flex: 1;
    padding: 10px;
    margin: 25px 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#features .card-container .card{
    width: 30%;
    border: 1px solid white;
}



@media screen and (max-width:430px) {
    #features #heading .logo{
        font-size: 80px;
    }

    #features #heading p.main-heading{
        font-size: 30px;
        top: -20px;
    }
}