.icon-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.icon-container img{
    border-radius: 10%;
}

.services img{
    border-radius: 3px !important;
}

.rounded{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px 8px rgb(247, 247, 247);
    padding: 30px;
    border-radius: 50%;
    border: 1px solid rgba(215, 215, 215,0.5);
}

h2,h4,p{
    text-align: center;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-size: x-large;
    font-weight: bolder;
}

h4{
    font-size: large;
}

p{
    font-size: medium;
}