.Contact {
  background-image: url("/src/assests/contactUs.jpeg");
  background-position: center;
  padding: 70px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  opacity: 0.82;
  color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  font-weight: 600;
  background-repeat: no-repeat;
}
