.Contact {
  background-image: url("../../assets//contact//contactUs.jpeg");
  background-position: center;
  padding: 40px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.82;
  background-size: cover;
  font-weight: 600;
  background-repeat: no-repeat;
}

/* Responsive padding for larger screens */
@media (min-width: 768px) {
  .Contact {
    padding: 70px;
  }
}
