#service {
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../assets/how_we_work/BgCover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

#service .bg-cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#service .bg-cover .main-heading {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

#service .bg-cover .main-section {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

#service .bg-cover .main-section .card {
  margin-top: 10px;
  /* min-height: 350px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

#service .bg-cover .main-section .card .title {
  margin-top: 10px;
  min-height: 40px;
  font-size: 22px;
  font-weight: 800;
}

#service .bg-cover .main-section .card img {
  height: 170px;
  width: 170px;
}

#service .bg-cover .main-section .card .content {
  font-size: 10px;
  font-weight: bolder;
}

@media screen and (max-width: 600px) {
  #service .bg-cover .main-section {
    flex-direction: column;
    align-items: center;
  }

  #service .bg-cover .main-section .card {
    max-width: 90%;
  }

  #service .bg-cover .main-heading {
    font-size: 40px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  #service .bg-cover .main-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #service .bg-cover .main-section .card {
    max-width: 45%;
  }
}

@media screen and (min-width: 1025px) {
  #service .bg-cover .main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  #service .bg-cover .main-section .card {
    max-width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1445px) {
  #service .bg-cover .main-heading {
    font-size: 100px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  #service .bg-cover .main-section {
    justify-content: center;
    gap: 60px;
  }

  #service .bg-cover .main-section .card {
    max-width: 30%;
  }

  #service .bg-cover .main-section .card .title {
    font-size: 31px;
    margin: 10px;
  }

  #service .bg-cover .main-section .card .content {
    font-size: 25px;
  }

  #service .bg-cover .main-section .card img {
    height: 250px;
    width: 250px;
  }
}
