#services {
  width: 100%;
  min-height: 90vh;
  background-color: rgb(31, 66, 93);
  box-sizing: border-box;
  margin: 10px 0px;
  border: 1px solid black;
  display: flex;
  color: white;
  flex-direction: column;
}
#services .heading {
  color: #fd7062;
  position: relative;
  height: 150px;
}

#services .heading p.main-heading {
  text-align: center;
  font-size: 50px;
  color: white;
  position: relative;
  top: -90px;
  font-weight: 500;
}

#services .heading p.main-heading span {
  color: #4ab9cf;
}

#services .heading .logo {
  color: rgb(31, 66, 93);
  font-size: 140px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 rgb(44, 82, 110), 1px -1px 0 rgb(44, 82, 110),
    -1px 1px 0 rgb(44, 82, 110), 1px 1px 0 rgb(44, 82, 110);
  text-align: center;
}

#services .card-container {
  width: calc(100% - 20px);
  box-sizing: border-box;
  flex: 1;
  padding: 20px;
  margin: 25px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#services .card-container .card {
  width: 30%;
}

@media screen and (max-width: 768px) {
  #services .heading .logo {
    font-size: 70px;
  }

  #services .heading p.main-heading {
    font-size: 30px;
    top: -20px;
  }
}

@media screen and (max-width: 430px) {
  #services .heading .logo {
    font-size: 60px;
  }

  #services .card-container {
    margin: 0;
  }

  #services .heading p.main-heading {
    font-size: 30px;
    top: -20px;
  }

  #services .card-container {
    flex-direction: column;
  }
  #services .card-container .card {
    width: 100%;
  }
}
